ul{
    text-align: center;
    display: center; 
}
li {
    text-align: center;
    display: block;
    }
.skills.head{
    text-align: center;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #009632;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: hsl(120, 100%, 10%);
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: black;
    color: white;
  }
.skillsandtech {
    border: 3px;
    border-style:solid;
    border-color: black;
    padding: 1em;
    
}