table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4in;
    margin-bottom: auto;
}
body{
    background-color: aqua;
}